*.pyc
superset/assets/coverage/*
changelog.sh
.DS_Store
.coverage
_build
_static
_images
superset/bin/supersetc
env_py3
.eggs
build
*.db
tmp
/dist/
/caravel/assets/dist
superset_config.py
local_config.py
env
dist
superset.egg-info/
app.db
*.bak
.idea
*.sqllite

# Node.js, webpack artifacts
*.entry.js
*.js.map
/caravel/assets/node_modules/*
!/caravel/assets/node_modules/font-awesome
!/caravel/assets/node_modules/echarts-2.2.7
npm-debug.log
.pydevproject
.project
.settings/
/caravel/app/static/uploads/*
yarn.lock
