{% extends "caravel/basic.html" %}

{% block head_js %}
  {{ super() }}
  {% with filename="dashboard" %}
    {% include "caravel/partials/_script_tag.html" %}
  {% endwith %}
{% endblock %}
{% block title %}[dashboard] {{ dashboard.dashboard_title }}{% endblock %}
{% block body %}

<div
  class="dashboard container-fluid"
  data-dashboard="{{ dashboard.json_data }}"
  data-urlparams="{{ url_params }}"
  data-css="{{ dashboard.css }}"
  data-user="{{ user_id }}"
  data-readonly="true"
>
  {% include 'caravel/flash_wrapper.html' %}

  <!-- Modal -->
  <div class="modal fade" id="css_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content css">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Dashboard CSS</h4>
          <h6><strong>Styling applies to this dashboard only</strong></h6>
        </div>
        <div class="modal-body">
          <select id="css_template" class="select2" style="margin-bottom: 5px;">
            <option value="" data-css="">CSS template</option>
            {% for t in templates %}
              <option value="{{ t.id }}" data-css="{{t.css}}">
                {{ t.template_name }}
              </option>
            {% endfor %}
          </select><br>
          <textarea id="dash_css" rows="30" cols="60">{{ dashboard.css }}</textarea>
          <input type="hidden" id="dashboard_id" value="{{ dashboard.id }}" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- gridster class used for backwards compatibility -->
  <div id="grid-container" class="slice-grid gridster"></div>

</div>
{% endblock %}

{% block navbar %}
{% endblock %}